{{#if cartProducts.length}}
<table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>         
          <th>Categoria</th>
          <th>Precio</th>
       </tr>
      </thead>
      <tbody>
        {{#each cartProducts}}
    <tr>
   <td>
        {{product.thumbnail}}
    </td>
    <td>
        {{product.code}}
    </td>
    <td>
        {{product.type}}
    </td>
    <td>
        {{product.price}}
    </td>
    </tr>


{{/each}}
        
      </tbody>


{{else}}
<h2>Carrito Vacio</h2>

{{/if}}