<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
  </head>
  <body>
    <h1>Cart</h1>
    <p>Cart ID: {{cart._id}}</p>
    <p>Products:</p>
    <ul>
      {{#each cart.products}}
      <li>{{this.product.title}} - {{this.quantity}} x ${{this.product.price}} = ${{this.total}}</li>
      {{/each}}
    </ul>
    <p>Total: ${{cart.total}}</p>
  </body>
</html>
